services:

  mcp:
    image: cadasto/openehr-assistant-mcp:latest
    build:
      target: production
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: false

  caddy:
    image: caddy:2-alpine
    volumes:
      - caddy-data:/data
      - caddy-config:/config
      - ./docker/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./public:/app/public:ro
    hostname: openehr-assistant-mcp.${DOMAIN:-local}
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      DOMAIN: ${DOMAIN:-local}
    restart: unless-stopped
    depends_on:
      - mcp

volumes:
  caddy-data:
  caddy-config: